@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");

.contnr {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.about {
  background-color: black;
  padding: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile_image {
  width: 150px;
}
.image_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rowe {
  width: 100% !important;
  margin: 1%;
}
.resume {
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 52%;
  padding: 3px;
  margin-right: 20px;
  box-shadow: 5px 5px 5px 5px white;
  transition: all 0.4s ease-in-out;
}

.about_label {
  text-align: center;
  color: whitesmoke;
  float: center;
  font-size: 1.3rem;
  font-family: "Mate SC", serif !important;
}
.answer {
  text-align: left;
}
.rows {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.about_heading {
  font-family: "Mate SC", serif !important;
  color: white;
}
.emails {
  text-transform: lowercase !important;
}
.education {
  width: 90%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 20px;
}
.education_head {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.he {
  position: sticky !important;
  background-color: red;
  border-radius: 10%;
}
.checkLog {
  color: white;
  top: 4rem;
}
.education_block {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.cr {
  justify-content: center;
  align-items: center;
  display: flex;
}
.image-react {
  max-width: 6rem;
  max-height: 5rem;

  min-width: 6rem;
  min-height: 5rem;
}
.react_image {
  justify-content: center;
  display: flex;
  align-items: center;
}
.ima_skills {
  font-size: 35px;
  text-align: center;
}
.titleshoot {
  font-weight: 600;
}
.cart_edu {
  transition: all 0.4s ease-in-out;
}
.cart_edu:hover {
  width: 20rem;

  transform: scale(1.1);
}
@media only screen and (max-width: 480px) {
  /* for mobile size*/
  .resume {
    width: 90%;
  }
  .contnr {
    width: 95%;
  }
  .profile_image {
    width: 120px;
  }
  .about {
    width: 100%;
  }
  .about_label {
    font-size: 1rem;
  }
  .rows {
    width: 100%;
  }
  .email_row {
    width: 100px;
  }
  .answer {
    margin-left: 20px;
    text-align: right;
  }
  .lab {
    text-align: left;
    font-size: 13px;
  }

  .card {
    width: 12rem !important;
  }
  .education_block {
    width: 90% !important;
  }
  .image-react {
    max-width: 5rem;
    max-height: 4rem;

    min-width: 5rem;
    min-height: 4rem;
  }
  .skl {
    font-size: 35px;
  }
  .ima_skills {
    font-size: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .resume {
    width: 80%;
  }
}
@media only screen and (max-width: 1100px) {
  .resume {
    width: 80%;
  }
}
